@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

nav {
    display: flex;
    align-items: center;
    margin: 15px;
}

img {
    height: auto;
    width: 50px;
}

h1 {
    font-family: Poetsen One, Arial;
    font-weight: 400;
    margin-left: 15px;
    color: white;
}

/* Navbar */
nav .navbar {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-left: auto;
}

nav .navbar .linknavbar {
    font-family: Poetsen One, Arial;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
